name: Build golang-cross-builder

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - 
      uses: actions/checkout@v2
    - name: Build and Publish the Docker image to DockerHub
      uses: elgohr/Publish-Docker-Github-Action@3.02
      with:
        name: goreng/golang-cross-builder
        dockerfile: Dockerfile_builder
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        tags: "latest,v1.16.2"
