name: Build golang-cross-builder

on:
  workflow_dispatch:
    inputs:
      builder-tag:
        description: golang cross builder tag name
        default: v1.25.6-0
      golang-version:
        description: golang version
        default: "1.25.6"
      osxcross-git-hash:
        description: git commit hash of osx-cross project
        default: "ff8d100f3f026b4ffbe4ce96d8aac4ce06f1278b"
      osx-min-version:
        description: minimal macOS SDK deployment target
        default: "10.13"

permissions: {}

jobs:
  build:
    strategy:
      matrix:
        codename:
          - bookworm
          - trixie

    runs-on: ubuntu-latest
    continue-on-error: false

    permissions:
      id-token: write
      packages: write
      contents: read

    env:
      GOLANG_CROSS_TAG: ${{ github.event.inputs.builder-tag }}-${{ matrix.codename }}
      DOCKER_REGISTRY: "ghcr.io"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Get Repo Owner
        id: get_repo_owner
        run: echo "repo_owner=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_OUTPUT"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ steps.get_repo_owner.outputs.repo_owner }}/golang-cross-builder
          tags: |
            type=raw,value=latest,enable=${{ matrix.codename == 'trixie' && github.ref == 'refs/heads/main' }}
            type=raw,value=${{ env.GOLANG_CROSS_TAG }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ steps.get_repo_owner.outputs.repo_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: buildpush
        with:
          context: .
          file: Dockerfile.builder
          push: ${{ github.event_name != 'pull_request' }}
          build-args: |
            GO_VERSION=${{ github.event.inputs.golang-version }}
            OSX_VERSION_MIN=${{ github.event.inputs.osx-min-version }}
            OSX_CROSS_COMMIT=${{ github.event.inputs.osxcross-git-hash }}
            OS_CODENAME=${{ matrix.codename }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Sign the images
        run: |
          echo "sign ${STEPS_BUILDPUSH_OUTPUTS_DIGEST}"
          cosign sign --yes "ghcr.io/${STEPS_GET_REPO_OWNER_OUTPUTS_REPO_OWNER}/golang-cross-builder@${STEPS_BUILDPUSH_OUTPUTS_DIGEST}"
        shell: bash
        env:
          STEPS_BUILDPUSH_OUTPUTS_DIGEST: ${{ steps.buildpush.outputs.digest }}
          STEPS_GET_REPO_OWNER_OUTPUTS_REPO_OWNER: ${{ steps.get_repo_owner.outputs.repo_owner }}
