name: Docker Image CI

on:
  push:
    branches:
      - main
      - go-1.17
  pull_request:
    branches:
      - main
      - go-1.17

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Get Repo Owner
      id: get_repo_owner
      run: echo ::set-output name=repo_owner::$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')
    - name: Build and Publish the Docker image to GitHub Packages
      uses: elgohr/Publish-Docker-Github-Action@3.04
      with:
        name: ${{ steps.get_repo_owner.outputs.repo_owner }}/golang-cross/xcgo
        username: ${{ steps.get_repo_owner.outputs.repo_owner }}
        password: ${{ secrets.DEPLOY_TOKEN }}
        registry: docker.pkg.github.com
        tag_names: true
        no_push: ${{ github.event_name == 'pull_request' }}

    - name: Build and Publish the Docker image to ghcr.io
      uses: elgohr/Publish-Docker-Github-Action@3.04
      with:
        name: ${{ steps.get_repo_owner.outputs.repo_owner }}/golang-cross
        username: ${{ steps.get_repo_owner.outputs.repo_owner }}
        password: ${{ secrets.DEPLOY_TOKEN }}
        registry: ghcr.io
        tag_names: true
        no_push: ${{ github.event_name == 'pull_request' }}

    - name: test example
      run: cd example && make snapshot
