name: Pack OSX SDK

on:
  workflow_dispatch:

permissions: {}

jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-14-large
          - macos-15-large

    runs-on: ${{ matrix.os }}
    continue-on-error: true

    permissions:
      id-token: write
      packages: write
      contents: read

    env:
      DOCKER_REGISTRY: "ghcr.io"

    steps:
      # - name: Setup Xcode
      #   uses: maxim-lobanov/setup-xcode@v1
      #   with:
      #     xcode-version: latest
      - name: Set up Docker
        uses: crazy-max/ghaction-setup-docker@e43656e248c0bd0647d3f5c195d116aacf6fcaf4 # v4.7.0
        env:
          SIGN_QEMU_BINARY: 1
          COLIMA_START_ARGS: --cpu 4 --memory 8 --disk 32
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Checkout osxcross
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: "tpoechtrager/osxcross"
          ref: "f873f534c6cdb0776e457af8c7513da1e02abe59"
          path: "osxcross"

      - name: Build OSX SDK
        id: build_sdk_file
        shell: bash
        run: |
          ./osxcross/tools/gen_sdk_package.sh
          find . -type f -name "*.tar.xz" -print0 | xargs shasum -a 256 | tee sha256sum.txt
          sdk_file=$(find . -name "*.tar.xz" | head -n 1)
          [ -f "$sdk_file" ] && echo "sdk_file: $sdk_file"
          echo "sdk_file=${sdk_file}" >> "$GITHUB_OUTPUT"

      - name: Get Repo Owner
        id: get_repo_owner
        run: echo "repo_owner=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_OUTPUT"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ steps.get_repo_owner.outputs.repo_owner }}/osx-sdk
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=raw,value=${{ matrix.os }}

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.DOCKER_REGISTRY}}
          username: ${{ steps.get_repo_owner.outputs.repo_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        id: buildpush
        with:
          context: .
          file: Dockerfile.osx_sdk
          build-args: |
            SDK_FILE=${{ steps.build_sdk_file.outputs.sdk_file }}
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
