name: release golang-cross

on:
  release:
    types:
      - created

jobs:
  build:
    permissions:
      id-token: write
      packages: write
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: sigstore/cosign-installer@v2.1.0

    - name: Get Repo Owner
      id: get_repo_owner
      run: echo ::set-output name=repo_owner::$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')

    - name: Get tag
      id: get_tag
      run: echo ::set-output name=release_tag::${GITHUB_REF/refs\/tags\//}

    - name: Build and Publish the Docker image to ghcr.io
      uses: elgohr/Publish-Docker-Github-Action@v4
      with:
        name: ${{ steps.get_repo_owner.outputs.repo_owner }}/golang-cross
        username: ${{ steps.get_repo_owner.outputs.repo_owner }}
        password: ${{ secrets.DEPLOY_TOKEN }}
        registry: ghcr.io
        tags: ${{ steps.get_tag.outputs.release_tag }}

    - name: Sign the images
      run: |
          echo "${DOCKER_PASSWD}" | docker login -u ${{ steps.get_repo_owner.outputs.repo_owner }} --password-stdin ghcr.io
          cosign sign --force ghcr.io/${{ steps.get_repo_owner.outputs.repo_owner }}/golang-cross:${{ steps.get_tag.outputs.release_tag }}
          docker logout
      shell: bash
      env:
        COSIGN_EXPERIMENTAL: 1
        DOCKER_PASSWD: ${{ secrets.DEPLOY_TOKEN }}
