name: release golang-cross

on:
  release:
    types:
      - created

permissions: {}

jobs:
  release:
    strategy:
      matrix:
        codename:
          - bookworm
          - trixie

    permissions:
      id-token: write
      packages: write
      contents: read

    runs-on: ubuntu-latest
    continue-on-error: false

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Get Repo Owner
        id: get_repo_owner
        run: echo "repo_owner=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_OUTPUT"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ steps.get_repo_owner.outputs.repo_owner }}/golang-cross
          tags: |
            type=raw,value=latest,enable=${{ matrix.codename == 'trixie' && (github.event.release.target_commitish == 'main') }}
            type=semver,pattern={{raw}},enable=${{ matrix.codename == 'trixie' }}
            type=semver,pattern={{version}},enable=${{ matrix.codename == 'trixie' }}
            type=semver,pattern={{major}}.{{minor}},enable=${{ matrix.codename == 'trixie' }}
            type=semver,pattern={{major}},enable=${{ matrix.codename == 'trixie' }}
            type=semver,pattern={{raw}},enable=${{ matrix.codename != 'trixie' }},suffix=-${{ matrix.codename }}
            type=semver,pattern={{version}},enable=${{ matrix.codename != 'trixie' }},suffix=-${{ matrix.codename }}

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ steps.get_repo_owner.outputs.repo_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: buildpush
        with:
          context: .
          build-args: |
            OS_CODENAME=${{ matrix.codename }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Sign the images
        run: |
          echo "sign ${{ steps.buildpush.outputs.digest }}"
          cosign sign --yes "ghcr.io/${{ steps.get_repo_owner.outputs.repo_owner }}/golang-cross@${{ steps.buildpush.outputs.digest }}"
        shell: bash
        env:
          DOCKER_PASSWD: ${{ secrets.GITHUB_TOKEN }}
